<script type="text/template"
        data-route="^player"
        data-title="Global Player"
        data-process="processCatalogPage"
        data-template="catalog-page"
>
    <div class="fplayer">
        <div class="container fcontainer">
            <div class="col-xs-12 browse-filters browse-filters--table"
                 data-source="$endpoint/catalog/browse/filters"
                 data-process="processCatalogFilters">
            </div>
            <div class="flex" data-set="browse-filters">
                <div class="col-xs-12 catalog-table" role="catalog-pages"></div>
            </div>
        </div>
        <div class="ftrack" role="track-title">
        </div>
        <div class="fcontrols">
            <button class="faux" onclick="toggleShuffle(event, this)" role="mode">
                <i class="fa fa-random"></i>
            </button>
            <button class="faux" onclick="previous(event, this)" role="previous">
                <i class="fa fa-step-backward"></i>
            </button>
            <button class="faux" onclick="togglePlay(event, this)">
                <i class="fa fa-play" role="play"></i>
            </button>
            <button class="faux" onclick="next(event, this)" role="next">
                <i class="fa fa-step-forward"></i>
            </button>
            <button class="faux" onclick="toggleRepeat(event, this)">
                <i class="fa fa-repeat"></i>
            </button>
            <div role="position">0:00</div>
            <div class="fscrub slider horizontal" onmousedown="startDragPlayerSlider(event, this)">
                <div class="progress" role="scrub-progress"></div>
                <div class="handle">
                    <div class="inner"></div>
                </div>
            </div>
            <div role="duration">0:00</div>
            <div onmouseover="showVolumeSlider(event, this)" onmouseleave="hideVolumeSlider(event, this)"
                 style="z-index: 0">
                <div class="fvolumeslider">
                    <div class="slider vertical">
                        <div class="progress"></div>
                        <div class="handle">
                            <div class="inner"></div>
                        </div>
                    </div>
                </div>
                <button class="faux volume-toggle" role="volumeControl" onclick="toggleVolume(event, this)">
                    <i class="fa fa-volume-up"></i>
                </button>
            </div>
        </div>

    </div>
</script>
