<script type="text/template"
        data-route="^player">
    <div id="fullscreenplayer">
        <div class="table"
             data-source="$endpoint/catalog/browse"
             data-process="fullscreenplayerTable">
        </div>
        <div class="controls">
            <div class="title textscroll"
                 onmouseover="applyScroll.bind(this)()"
                 onmouseleave="removeScroll.bind(this)()">
            </div>
            <div class="shuffle" onclick="player.shuffle()">
                <i class="fa fa-random"></i>
            </div>
            <div class="previous" onclick="player.previous()">
                <i class="fa fa-step-backward"></i>
            </div>
            <div class="pause" onclick="player.pause()">
                <i class="fa fa-play"></i>
            </div>
            <div class="next" onclick="player.next()">
                <i class="fa fa-step-forward"></i>
            </div>
            <div class="repeat">
            </div>
            <div class="currentTime">0:00</div>
            <div class="scrub">
                <div class="slider horizontal"
                     onmousedown="controls.scrubs.startDrag(event, this)">
                    <div class="outer">
                        <div class="inner"></div>
                        <div class="handle">
                            <div class="inner"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="duration">0:00</div>
            <div class="volume"
                 onmouseover="controls.volumes.show.bind(this)(event)"
                 onmouseleave="controls.volumes.hide.bind(this)(event)">
                <div class="slider vertical">
                    <div class="outer">
                        <div class="inner"></div>
                        <div class="handle">
                            <div class="inner"></div>
                        </div>
                    </div>
                </div>
                <div class="volume-toggle"
                     onclick="player.mute()">
                    <i class="fa fa-volume-up"></i>
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/template"
        data-template="fullscreenplayerTable">
    <table>
        <thead>
        <tr>
            <th></th>
            <th><strong>Title</strong></th>
            <th><strong>Artist</strong></th>
        </tr>
        </thead>
        <tbody class="context">
        {{#results}}
            <tr class="song {{#inEarlyAccess}} in-early-access{{/inEarlyAccess}}"
                onclick="player.select.bind(this)()"
                data-play-link="{{playUrl}}"
                data-title="{{title}}"
                data-artists-title="{{artistsTitle}}"
                {{#if artists.length}}
                data-artist="{{#each artists}}{{name}}, {{/each}}"
                {{/if}}
                data-index="{{index}}"
                data-track-id="{{_id}}"
                {{#if activeTest}}
                data-ab-test="{{activeTest}}"
                data-kpi="play-track"
                {{/if}}
                {{#if licensable}}
                data-licensable
                {{/if}}
                {{#if playlistId}}
                data-playlist-id="{{playlistId}}"
                {{/if}}
                data-release-id="{{releaseId}}"
                {{#if streamable}}
                data-url="https://blobcache.monstercat.com/blobs/{{albums.streamHash}}"
                {{/if}}>
                <td class="pause">
                    <i class="fa fa-play-circle"></i>
                </td>
                <td>{{title}}</td>
                <td>{{artistsTitle}}</td>
            </tr>
        {{/results}}
        </tbody>
    </table>
</script>
