<script type="text/template"
        data-route="^player">
    <div id="fullscreenplayer">
        <a href="/">
            <div class="exit"><-</div>
        </a>
        <table>
            <thead>
            <tr>
                <td></td>
                <td>
                    <strong class="title">Title</strong>
                    <strong class="artist">Artist</strong>
                    <strong class="album">Album</strong>
                    <strong class="duration">Duration</strong>
                    <strong class="bpm">BPM</strong>
                </td>
            </tr>
            </thead>
            <tbody class="context"
                   data-source="$endpoint/catalog/browse"
                   data-process="fullscreenplayerTable">
            <tr class="load">
                <td>
                    <button onclick="fullscreenplayer.loadMore.bind(this)();">Load more</button>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="controls">
            <div>
                <div class="title textscroll"
                     onmouseover="applyScroll.bind(this)()"
                     onmouseleave="removeScroll.bind(this)()">
                </div>
            </div>
            <div class="shuffle clickable" onclick="player.shuffle()">
                <i class="fa"></i>
            </div>
            <div class="previous clickable" onclick="player.previous()">
                <i class="fa"></i>
            </div>
            <div class="pause clickable" onclick="player.pause()">
                <i class="fa"></i>
            </div>
            <div class="next clickable" onclick="player.next()">
                <i class="fa"></i>
            </div>
            <div class="repeat">
            </div>
            <div class="currentTime">0:00</div>
            <div class="scrub">
                <div class="slider horizontal"
                     onmousedown="controls.scrubs.startDrag(event, this)">
                    <div class="outer">
                        <div class="inner"></div>
                        <div class="handle">
                            <div class="inner"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="duration">0:00</div>
            <div class="volume"
                 onmouseover="controls.volumes.show.bind(this)()"
                 onmouseleave="controls.volumes.hide.bind(this)()">
                <div class="slider vertical hidden">
                    <div class="outer">
                        <div class="inner"></div>
                        <div class="handle">
                            <div class="inner"></div>
                        </div>
                    </div>
                </div>
                <i class="fa fa-volume-up clickable"
                   onclick="player.mute()">
                </i>
            </div>
        </div>
    </div>
</script>

<script type="text/template"
        data-template="fullscreenplayerTableRow">
        <tr class="song {{#inEarlyAccess}} in-early-access{{/inEarlyAccess}}"
            ondblclick="player.select.bind(this)()"
            data-play-link="{{playUrl}}"
            data-title="{{title}}"
            data-artists-title="{{artistsTitle}}"
            data-index="{{@index}}"
            data-track-id="{{_id}}"
            data-release-id="{{releaseId}}"
            {{#if streamable}}
            data-url="https://blobcache.monstercat.com/blobs/{{albums.streamHash}}"
            {{/if}}>
            <td>
                <div class="pause"
                     onclick="player.select.bind(this.closest('.song'))()">
                    <i class="fa"></i>
                </div>
            </td>
            <td>
                <div class="title"><strong>{{title}}</strong></div>
                <div class="artist"
                     onmouseover="applyScroll.bind(this)()"
                     onmouseleave="removeScroll.bind(this)()">
                    {{artist}}
                </div>
                <div class="release">{{release.title}}</div>
                <div class="duration">{{duration}}</div>
                <div class="bpm">{{bpm}}</div>
            </td>
        </tr>
</script>
