<script type="text/template"
        data-partial data-template="location-autocomplete">
    <input class="location-auto-complete" type="text" placeholder="City, Country" autocomplete="on" value="{{placeNameFull}}">
    <input type="hidden" name="googleMapsPlaceId" value="{{googleMapsPlaceId}}" />
</script>

<script type="text/template"
        data-partial data-template="copy-clipboard-button"
>
  <button type="button" class="button copy-clipboard-button" onclick="copyToClipboard(event)"><i class="fa fa-copy"></i></button>
</script>

<script type="text/template"
        mustache-name="loading-placeholder">
{{#words}}<span class="loading-placeholder">{{{.}}}</span>
{{/words}}
</script>
