<script type="text/template"
        route="^release\/(.*)"
        transform="transformReleasePageSplit"
        >
{{#data}}
    {{#activeAlts.new}}
        <div source="$endpoint/catalog/release/{{releaseId}}"
            template="new-release-page">
        </div>
    {{/activeAlts.new}}
    {{#activeAlts.old}}
        <div source="$endpoint/catalog/release/{{releaseId}}"
            template="old-release-page">
        </div>
    {{/activeAlts.old}}
{{/data}}
</script>

<script type="text/template"
        template-name="new-release-page"
        transform="transformReleasePage"
        completed="completedReleasePage">
{{#loading}}
    {{>loading-view-black}}
    {{/loading}}
    {{#error}}
        {{>error}}
    {{/error}}
    {{#data}}
        {{#release}}
            <div class="release-page type-{{type}}">
                <div class="release-bg" style="background-image: url('{{coverImage}}')">
                </div>
                <div class="container">
                    <div class="release-cols">
                        <div class="release-art-container">
                            {{>release-art}}
                        </div>
                        <div class="release-info-container">
                            {{>release-info}}
                            {{>release-artists}}
                        </div>
                    </div>
                    {{>release-buttons}}
                    {{>release-tracks}}
                    {{#feature}}
                        <div class="feature-separator"></div>
                    {{/feature}}
                    {{#feature.tweet}}
                        {{>release-tweet}}
                    {{/feature.tweet}}
                    {{#feature.twitterFollowButtons}}
                        <div class="release-twitter-follow-buttons">
                            {{>release-twitter-follow-buttons}}
                        </div>
                    {{/feature.twitterFollowButtons}}
                    {{#feature.gold}}
                        {{>release-gold}}
                    {{/feature.gold}}
                    {{#feature.merch}}
                        {{>release-merch}}
                    {{/feature.merch}}
                    {{#feature.moreFromArtists}}
                        <div class="more-from-artists">
                            {{>loading-view}}
                        </div>
                    {{/feature.moreFromArtists}}
                    {{#feature.artistsEvents}}
                        {{#artistIds}}
                            <div class="release-events">
                                <div source="$endpoint/events/upcoming?websiteDetailsIds={{artistIds}}" template="release-events"></div>
                            </div>
                        {{/artistIds}}
                    {{/feature.artistsEvents}}
                    <span></span>
                    <!--
                    {{#activeAlts.layout2}}
                        <div class="release-cols">

                            <div class="col-1">
                                <div class="release-summary">
                                    {{>release-art}}
                                </div>
                                {{>release-artists}}
                            </div>
                            <div class="col-2">
                                {{>release-info}}
                                {{>release-buttons}}
                                {{>release-tracks}}
                                {{#showMerch}}
                                    {{>release-merch}}
                                {{/showMerch}}
                            </div>
                        </div>
                    {{/activeAlts.layout2}}
                    -->
                </div>
            </div>

        {{/release}}
    {{/data}}
</script>

<script type="text/template"
        mustache-name="release-art">
<div class="release-art aspect-container aspect-container-1x1">
    <div class="preload"></div>
    <img src="{{coverImage}}" class="cover" action="openReleaseArt" big-src="{{coverBig}}" />
    <!--
    {{#streamable}}
    <button class="button button--cta"
            ab-test="{{activeTest}}"
            kpi="play-release"
            action="playSongs"
            role="play-release"
            release-id="{{_id}}">
        <i class="fa fa-play inactive"></i>
        <i class="fa fa-pause active"></i>
    </button>
    {{/streamable}}
    -->
</div>

</script>

<script type="text/template"
        mustache-name="release-info">
<div class="release-info">
    <h1 style="font-size: {{titleFontSize}}px">{{release.title}}</h1>
    <h3 class="release-rendered-artists">{{renderedArtists}}</h3>
    <div class="release-date">{{>albumReleaseDates}}</div>
</div>
</script>

<script type="text/template"
        mustache-name="release-buttons">
<div class="release-buttons">
    {{#streamable}}
        <a class="button button--cta button--release-play release-cta-link"
                ab-test="{{activeTest}}"
                kpi="play-release"
                action="playSongs"
                role="play-release"
                release-id="{{_id}}">
            <i class="fa fa-play inactive"></i>
            <span>
                {{#inEarlyAccess}}
                    Listen Early
                {{/inEarlyAccess}}
                {{^inEarlyAccess}}
                    Play
                {{/inEarlyAccess}}
            </span>
            <i class="fa fa-pause active"></i>
            <span>Pause</span>
        </a>
    {{/streamable}}

    {{^inEarlyAccess}}
    <a  class="button button--cta release-cta-link"
        click-action="Click Download Gold"
        click-category="Release Links"

        ab-test="{{activeTest}}"
        kpi="download-gold"

        target="_blank"
        title="Download Track"
        track-title="{{title}}"
        action="accessDownloadOrModal"
        href="{{downloadLink}}">
        <span class="fa fa-download"></span>
        <span>Download with Gold</span>
    </a>
    {{/inEarlyAccess}}
    {{#inEarlyAccess}}
        {{^hasGoldAccess}}
            <a class="button button--cta release-cta-link"
                click-action="Click Get Gold"
                click-category="Release Links"
                ab-test="{{activeTest}}"
                kpi="get-gold"
                href="/gold/get">
                <span class="fa fa-chevron-right"></span>
                Get Gold to Listen Early
            </a>
        {{/hasGoldAccess}}
    {{/inEarlyAccess}}
    {{#purchaseLinks}}
    <a class="button button--cta release-cta-link"
        click-action="Click Release Purchase"
        click-category="Release Links"
        click-label="{{label}}"

        ab-test="{{activeTest}}"
        kpi="purchase-{{platform}}"

        href="{{original}}">
        <span class="fa fa-{{icon}}"></span>
        <span>{{label}}</span>
        <span class="cta">{{cta}}</span>
    </a>
    {{/purchaseLinks}}
    <a class="button button--cta release-cta-link release-cta-filler"
        click-action="Click Shop Filler"
        click-category="Release Links"
        ab-test="{{activeTest}}"
        kpi="shop-filler"
        href="https://shop.monstercat.com">
        <span class="fa fa-shopping-bag"></span>
        <span>Monstercat Shop</span>
    </a>

</div>
</script>

<script type="text/template"
        mustache-name="release-tracks">
<div class="release-tracks">
    <table>
        <thead>
            <tr>
                <th class="shrink col-xs-hidden col-md-visible">#</th>
                <th class="shrink nohpad"></th>
                <th class="col-xs-hidden col-md-visible">Title</th>
                <th class="col-xs-hidden col-md-visible">Artists</th>
                <th class="col-xs-hidden col-md-visible">Time</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {{#tracks}}
            <tr dblc-action="playSongDblC">
                <td class="shrink col-xs-hidden col-md-visible">{{trackNumber}}.</td>
                <td class="shrink nohpad">
                  {{>playSong}}
                </td>
                <td class="longer-width">
                  <div class="scroll-container"
                       onmouseenter="scrollTrackTitle(this)" onmouseleave="removeScrollTrackTitle(this)">
                    <span class="scroll-title artists">{{title}}</span>
                  </div>
                  <div class="scroll-container col-xs-visible col-md-hidden"
                       onmouseenter="scrollTrackTitle(this)" onmouseleave="removeScrollTrackTitle(this)">
                      {{>artists-csv-list}}
                  </div>
                  {{>unlicensable}}
                </td>
                <td class="longer-width artists col-xs-hidden col-md-visible"">
                    <div class="scroll-container"
                       onmouseenter="scrollTrackTitle(this)" onmouseleave="removeScrollTrackTitle(this)">
                    <span class="scroll-title">
                      {{>artists-csv-list}}
                    </span>
                  </div>
                </td>
                <td class="col-xs-hidden col-md-visible">{{time}}</td>
                <td class="push-right">
                    {{>trackButtons}}
                </td>
            </tr>
            {{/tracks}}
        </tbody>
    </table>
</div>
</script>

<script type="text/template"
        mustache-name="release-artists">
<div class="release-artists{{#numArtistBeakpoints}} num-artists-{{.}}{{/numArtistBeakpoints}} num-artists-{{releaseArtists.length}}">
{{#releaseArtists}}
    <div class="release-artist-container {{^shown}}hide{{/shown}}">
        <div class="preload"></div>
        <a
            class="artist-image"
            href="{{artistPageUrl}}"
            style="background-image: url('{{imageTiny}}');"
            click-action="Click Artist Profile"
            label="Artist Image"
            click-category="Artist Links"
            ab-test="{{activeTest}}"
            kpi="artist"
            title="{{name}}"
            >
        </a>
        <div class="artist-info-container">
            <div class="artist-info{{^socials.length}} no-socials{{/socials.length}}">
                <h6><a
                        href="{{artistPageUrl}}"
                        click-action="Click Artist Profile"
                        click-label="Artist Name"
                        click-category="Artist Links"
                        ab-test="{{activeTest}}"
                        kpi="artist"
                        >{{name}}</a></h6>
                <div class="socials{{^socials.length}} no-socials{{/socials.length}}">{{#socials}}<a href="{{link}}"
                        target="_blank"
                        click-action="Click Artist {{name}}"
                        click-label="{{artistName}} {{name}}"
                        click-category="Artist Links"
                        ab-test="{{activeTest}}"
                        kpi="artist-{{platform}}"
                        title="{{label}}"
                        target="_blank"><i class="fa fa-{{icon}}"></i> <span>{{label}}</span></a>{{/socials}}
                </div>
            </div>
        </div>
    </div>
{{/releaseArtists}}
{{#moreArtists}}
<div class="more-artists" onclick="clickCycleReleaseArtists(event)">
    <i class="fa fa-chevron-right"></i>
    <span>{{moreArtists}} More</span></div>
{{/moreArtists}}
</div>
</script>

<script type="text/template"
        mustache-name="release-merch">
    <div source="https://shop.monstercat.com/collections/website-featured/products.json" template="release-merch"></div>
</script>

<script type="text/template"
        template-name="release-events"
        transform="transformReleaseEvents"
        completed="completedReleaseEvents">
{{#loading}}
{{/loading}}
{{#data}}
    {{#results.length}}
        <h3 class="comma-or">Upcoming {{#listArtists}}{{>artists-csv-list}}{{/listArtists}}{{^listArtists}}These Artists{{/listArtists}} Events</h3>
        <table class="events">
        {{#results}}
            {{>upcoming-event-tr}}
        {{/results}}
        </table>
    {{/results.length}}
{{/data}}
</script>

<script type="text/template"
        template-name="release-merch"
        transform="transformReleaseMerch">
<div class="release-merch">
    {{#loading}}
    {{>loading-view}}
    {{/loading}}
    {{#error}}
    {{/error}}
    {{#data}}
        <header class="flex top-cta">
            <div class="col-xs-8">
                <h3 class="">Monstercat Merch</h3>
            </div>
            <div class="col-xs-4 text right">
                <a click-action="Click Merch View All"
                    href="https://shop.monstercat.com"
                    class="button button--black button--icon button--transparent"
                    ab-test="{{activeTest}}"
                    kpi="merch-view-all"
                    >
                    View all
                    <i class="fa fa-chevron-right"></i>
                </a>
            </div>
        </header>
        <ul class="art-list art-list--full-width">
        {{#products}}
            <li>
                <a class="silent"
                    click-action="Click Merch Product"
                    click-label="Product: {{title}}"
                    click-category="Release Page"
                    href="https://shop.monstercat.com/products/{{handle}}"
                    ab-test="{{activeTest}}"
                    kpi="merch-item"
                    target="_BLANK"
                    title="{{title}}">
                    <div class="image-wrapper">
                        <img src="/img/artwork-merch.jpg" class="preload" />
                        <img src="{{ images.0.src }}"/>
                    </div>
                    <label class="title one-line-ellipsis">{{title}}</label>
                </a>
            </li>
        {{/products}}
        </ul>
    {{/data}}
</div>
</script>

<script type="text/template"
        mustache-name="release-tweet">
<div class="release-twitter">
    <div class="official-tweet">
        <div id="release-official-tweet"></div>
    </div>
    {{>release-twitter-follow-buttons}}
</script>

<script type="text/template"
        mustache-name="release-twitter-follow-buttons"
        >
<h3>Follow On Twitter</h3>
<div class="follow-buttons">
    <div twitter-follow="Monstercat"><div class="load"></div></div>
    {{#artistTwitters}}
        <div twitter-follow="{{handle}}"><div class="load"></div></div>
    {{/artistTwitters}}
</div>
</script>

<script type="text/template" mustache-name="release-gold">
<div class="release-gold">
    <div class="banner" style="background-image:url(/img/banner.jpg)">
      <div class="banner-shade"></div>
      <div class="gradient gradient--inverted"></div>
    </div>
    <h3>Get Monstercat Gold!</h3>
    <div class="modal-content">
      <h4 class="pricing">$5 USD/month</h4>
      <ul>
          <li>Download Monstercat songs in your preferred format</li>
          <li>Early streaming access to new releases</li>
          <li>Discounts on Monstercat merch</li>
          <li>Directly support the artists</li>
          <li>and more!</li>
      </ul>
    </div>
    {{^hasGold}}
        {{#signedIn}}
            <a class="button button--gold" href="/gold/get" action="closeModal">Get your Gold membership!</a>
        {{/signedIn}}
    {{/hasGold}}
    {{^signedIn}}
        <a class="button button--gold" href="/gold/get" action="closeModal">Sign up for Gold account!</a>
    {{/signedIn}}
    <span class="or">or</span>
    <a href="/gold">learn more</a>
</div>
</script>

<script type="text/template"
        template-name="more-from-artists"
>
<h3>More From {{#listArtists}}{{>artists-csv-list}}{{/listArtists}}{{^listArtists}}These Artists{{/listArtists}}</h3>

<ul class="tracks art-list">
{{#results}}
    <li class="track">
        <a class="silent" href="/release/{{release.catalogId}}" title="{{title}} by {{artistsTitle}}">
            <div class="image-wrapper">
                <img src="/img/artwork.jpg" alt="" class="preload">
                <img src="{{release.coverUrl}}?image_width=512" alt="">
            </div>
            <label class="title one-line-ellipsis">{{title}}</label>
            <br>
            <label class="artist one-line-ellipsis">{{artistsTitle}}</label>
        </a>
    </div>
{{/results}}
</ul>
</script>