<script type="text/template"
        data-route="^player"
        data-title="Global Player"
        data-process="processCatalogPage"
>
    <div class="player">
        <div class="container container">
            <div class="col-xs-12 browse-filters browse-filters--table"
                 data-source="$endpoint/catalog/browse/filters"
                 data-process="processCatalogFilters">
            </div>
            <div class="flex" data-set="browse-filters">
                <div style="width: 100%;" role="catalog-pages"></div>
            </div>
        </div>
        <div class="controls">
            <div class="title textscroll" onmouseover="applyScroll(event, this)" onmouseleave="removeScroll(event, this)" role="track-title">
            </div>
            <button class="faux" onclick="toggleShuffle(event, this)" role="mode">
                <i class="fa fa-random"></i>
            </button>
            <button class="faux" onclick="player.previous()" role="previous">
                <i class="fa fa-step-backward"></i>
            </button>
            <button class="faux pause" onclick="player.pause()">
                <i class="fa fa-play"></i>
            </button>
            <button class="faux" onclick="player.next()" role="next">
                <i class="fa fa-step-forward"></i>
            </button>
            <button class="faux" >
                <i class="fa fa-repeat"></i>
            </button>
            <div class="currentTime">0:00</div>
            <div class="scrub">
                <div class="slider horizontal" onmousedown="controls.scrubs.startDrag(event, this)">
                    <div class="outer">
                        <div class="inner"></div>
                        <div class="handle">
                            <div class="inner"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="duration" role="duration">0:00</div>
            <div class="volume" onmouseover="controls.volumes.show.bind(this)(event)" onmouseleave="controls.volumes.hide.bind(this)(event)">
                <div class="slider vertical">
                    <div class="outer">
                        <div class="inner"></div>
                        <div class="handle">
                            <div class="inner"></div>
                        </div>
                    </div>
                </div>
                <button class="faux volume-toggle" role="volumeControl" onclick="player.mute()">
                    <i class="fa fa-volume-up"></i>
                </button>
            </div>
        </div>
    </div>
</script>
