section {
    padding: 0;
}

.fplayer {
    display: flex;
    flex-flow: column nowrap;
    height: 100vh;
    width: 100vw;
    align-items: center;
}

.fplayer .fcontainer {
    width: 100%;
    flex: 1;
    overflow-y: scroll;
    border-bottom: 2px solid #ccc;
}

.fplayer .fcontrols {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1rem;
    width: 100%;
    margin: 20px 0;
    padding: 0 40px;
}

.fplayer .ftrack {
    font-size: 1rem;
    white-space: nowrap;
    overflow: hidden;
    flex: 0.4;
}

.fplayer .ftrack:hover {
    cursor: pointer;
    color: dodgerblue;
}

.fcontrols > * {
    flex: 0.1;
    text-align: center;
}

.textscroll:hover{
    transition: text-indent 2s linear;
}

.fplayer.playing{
    max-height: 50%
}

.fplayer .fscrub {
    flex:2;
    height: 5px;
}

.fvolumeslider {
    width: 0;
    height: 0;
    top: 50%;
    left: 50%;
    position: relative;
    display: none;
    flex: 1;
}
.fvolumeslider.show {
    display: block;
}
.fplayer .fvolumeslider .slider{
    height: 100px;
    top: calc(-10px - 100px);
    width: 5px;
    left: -2px;
    position: absolute;
}

.fplayer .fvolumeslider .slider .progress{
    height: 100%
}
