/**
Player
 */

#fullscreenplayer {
    height: 50vh;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
}

/**
Table
 */

#fullscreenplayer > .table {
    flex: 1;
    overflow: scroll;
}

#fullscreenplayer > .table > table {
    width: 100%;
    margin: 50px 0;
    border-top: solid 1px rgba(0, 0, 0, 0.25);
    border-bottom: solid 1px rgba(0, 0, 0, 0.25);
}

#fullscreenplayer > .table > table tr {
    cursor: pointer;
    border-bottom: solid 1px rgba(0, 0, 0, 0.25);
}

#fullscreenplayer > .table > table tr:hover {
    color: white;
    background-color: dodgerblue;
    /*or*/
    /*color: dodgerblue;*/
}

#fullscreenplayer > .table > table > tbody > tr:last-child {
    border-bottom: none;
}

/**
Controls
 */

#fullscreenplayer > .controls {
    flex: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1rem;
    width: 100%;
    margin: 20px 0;
    padding: 0 40px;
}

#fullscreenplayer > .controls > * {
    flex: 0.1;
    text-align: center;
    margin: 0 1rem;
}

#fullscreenplayer > .controls > .scrub {
    flex: 2;
    display: flex;
    justify-content: center;
    flex-flow: column nowrap;
}

#fullscreenplayer > .controls > .volume > .slider {
    width: 0;
    height: 0;
    top: 50%;
    left: 50%;
    position: relative;
    display: none;
    flex: 1;
}

#fullscreenplayer > .controls > .volume > .slider.show {
    display: block;
}

#fullscreenplayer > .controls > .volume > .slider > .outer {
    height: 100px;
    width: 5px;
    top: calc(-10px - 100px);
    left: -2px;
    position: absolute;
}

#fullscreenplayer > .controls > .scrub > .slider > .outer > .inner {
    width: 0
}

#fullscreenplayer > .controls > .volume > .slider > .outer > .inner {
    height: 100%;
}
