/**
Player
 */

#fullscreenplayer {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-flow: column nowrap;
}

/**
Table
 */

#fullscreenplayer > .table {
    display: grid;
    grid-template-columns: 100px repeat(5, 1fr);
    overflow-y: scroll;
}

#fullscreenplayer > .table > .load {
    grid-column: 1/7;
    order: 1;
}

#fullscreenplayer .table > * {
    padding: 10px;
    border-bottom: solid 1px rgba(0, 0, 0, 0.25);
}

#fullscreenplayer .table > *:hover {
    color: dodgerblue;
    cursor: pointer;
}

#fullscreenplayer .table > *.grey {
    /*background-color: rgba(0, 0, 0, 0.05);*/
}

/**
Controls
 */

#fullscreenplayer .controls {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(6, 1fr);
    text-align: center;
}

#fullscreenplayer .controls > .title {
    grid-column: 1/7;
}

#fullscreenplayer .controls > .scrub {
    grid-column: 2/6;
}

#fullscreenplayer > .controls > .volume > .slider {
    position: absolute;
    align-self: flex-end;
    bottom: calc(100% + 5px);
}

#fullscreenplayer .exit {
    position: fixed;
    top: 0;
    right: 0;
    height: 50px;
    width: 50px;
    background-color: red;
}

#fullscreenplayer .controls > *:hover {
    color: dodgerblue;
    cursor: pointer;
}

/**
Controls Icons
 */

#fullscreenplayer .controls .pause > i {
    --content: '\f04b'
}

#fullscreenplayer .controls .next > i {
    --content: '\f051'
}

#fullscreenplayer .controls .previous > i {
    --content: '\f048'
}

#fullscreenplayer .controls .shuffle > i {
    --content: '\f074'
}

#fullscreenplayer .song.pause > i {
    --content: '\f144'
}

#fullscreenplayer .controls .repeat > i {
    --content: '\f01e';
}

/**
Page specific
 */
.pause > i:before,
.repeat > i:before,
.next > i:before,
.previous > i:before,
.shuffle > i:before {
    content: var(--content)
}

.song h2, h3, h4 {
    font-size: 1em;
}

.active {
    color: dodgerblue;
}
