.slider > .outer {
    background: #ccc;
    cursor: pointer;
    display: flex;
    align-content: center;
    justify-items: center;
    }

.slider > .outer > .inner {
    background-color: dodgerblue;
}

.slider .handle > .inner {
    height: 20px;
    width: 20px;
    border-radius: 20px;
    background-color: #383838;
    top: calc(50% - 10px);
    left: calc(50% - 10px);
    position: relative;
}

.slider.vertical > .outer {
    flex-flow: column-reverse nowrap;
}

.slider.horizontal > .outer {
    flex-flow: row nowrap;
}

.slider.vertical > .outer > .inner {
    width: 100%;
}

.slider.horizontal > .outer > .inner {
    height: 100%;
}

.slider.vertical .handle {
    height: 0;
}

.slider.horizontal .handle {
    width: 0;
}
